<%= yield :select2 %>
<%= stylesheet_link_tag 'select2' %>
<script id="script_e9">
$(document).ready(function() {
$("#e9").select2();
});
</script>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<p><%= f.label :name %>
<%= f.text_field :name %></p>
<br>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  <br>
  <div><%= f.label :services, "Please select the services you use:"%>
  <%= f.select(:services, options_for_select(Service.all.collect {|s| [ s.url, s.id ] }), {}, {:multiple => true, :size => 40, :name =>"e9", :id=>"e9", :style => "width:220px; display:none;"}) %></div>
  <br>
  <div><%= f.label :password %>
  <%= f.password_field :password %></div>
  <br>
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  <br>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
